/* Estilização das Páginas */
.App{
    background-color: rgb(231, 231, 231);
}

/* Estilização das mensagens de erro */
.error{
    color: red;
    font-size: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}